each admin in listOfAdmins
    .item 
        .content
            .right.floated.content
                a.ui.label.deleteAdmin
                    i.minus.circle.icon
                    | Del from admin list
            .header #{admin}